main {
    background-repeat: repeat;
    background-position: center;
    // background-image: url("assets/images/bg_dots_grey.png");
    // background-color: rgb(255, 255, 255);
    // background-size: 100%;
    background-image: radial-gradient(#ddd 1px, transparent 1px);
    background-size: 20px 20px;
}